### users

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|username|varchar(30)|index|||
|nickname|varchar(30)|index|||
|email|varchar(320)|index|||
|password|text||||
|created\\\_at|timestamp||||
|updated\\\_at|timestamp||||
|email\\\_verified|timestamp||||

\end{center}
### roles

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|name|varchar(255)||||
|target|varchar(255)||||

\end{center}
### user\\\_has\\\_roles

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|user\\\_id|bigint||users(id)||
|role\\\_id|bigint||roles(id)||
|target\\\_id|bigint||||

\end{center}

### permissions

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|role\\\_id|bigint||roles(id)||
|name|varchar(255)||||

\end{center}

### tokens

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|user\\\_id|bigint||users(id)||
|token|varchar(32)||||
|created\\\_at|timestamp||||
|remember\\\_me|boolean||||


\end{center}

### webauthn\\\_credentials

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|user\\\_id|bigint||users(id)||
|content|varchar(32)||||
|created\\\_at|timestamp||||

\end{center}

### classes

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|name|varchar(255)||||
|course\\\_name|varchar(255)||||
|description|text||||
|invite\\\_code|varchar(255)||||

\end{center}

### user\\\_in\\\_classes

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|user\\\_id|bigint||users(id)||
|class\\\_id|bigint||classes(id)||

\end{center}

### user\\\_managing\\\_classes

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|user\\\_id|bigint||users(id)||
|class\\\_id|bigint||classes(id)||

\end{center}

### grades

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|total|bigint||||
|detail|text||||
|user\\\_id|bigint||users(id)||
|class\\\_id|bigint||classes(id)||

\end{center}

### problem\\\_sets

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|class\\\_id|bigint||classes(id)||
|name|varchar(255)||||
|description|text||||
|start\\\_time|timestamp||||
|end\\\_time|timestamp||||
|created\\\_at|timestamp||||
|updated\\\_at|timestamp||||

\end{center}

### problem\\\_in\\\_problem\\\_sets

\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|problem\\\_id|bigint||problems(id)||
|problem\\\_set\\\_id|bigint||problem\\\_sets(id)||

\end{center}

### problems
\begin{center}

| 字段名称 | 类型 | 索引 | 外键 | 其他 |
|:-:|:-:|:-:|:-:|
|id|bigint|primary|| auto\\\_increscent|
|name|varchar(255)||||
|description|text||||
|attach\\\_file\\\_name|varchar(255)||||
| compare\\\_script\\\_name | text | - | Compares (~scripts) |
|public|boolean||||
|memory\\\_limit|bigint||||
|time\\\_limit|bigint||||
|build\\\_arg|varchar(2047)||||
|compare\\\_script\\\_name|text||||

\end{center}

### test\\\_cases
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| id | bigint | YES | - |
| problem\\\_id | bigint | - | Has (~problems) |
| score | bigint | - | - |
| input\\\_file\\\_name | varchar(255) | - | - |
| output\\\_file\\\_name | varchar(255) | - | - |
| sample | boolean | - | - |
\end{center}
### submissions
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| id | bigint | YES | - |
| problem\\\_id | bigint | - | For (~problems) |
| language\\\_name | text | - | In (~languages) |
| file\\\_name | text | - | - |
| priority | smallint | - | - |
| score | bigint | - | - |
| status | text | - | - |
\end{center}
### runs
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| id | bigint | YES | - |
| test\\\_case\\\_id | bigint | - | For (~test\\\_cases) |
| submission\\\_id | bigint | - | Has (~submissions) |
| priority | smallint | - | - |
| status | text | - | - |
| memory\\\_used | bigint | - | - |
| time\\\_used | bigint | - | - |
| output\\\_hash | text | - | - |
| judger\\\_name | text | - | - |
| judger\\\_message | text | - | - |

\end{center}
### languages
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| name | text | YES | - |
| build\\\_script\\\_name | text | - | Builds (~scripts) |
| run\\\_script\\\_name | text | - | Runs (~scripts) |
\end{center}
### scripts
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| name | text | YES | - |
| filename | text | - | - |
\end{center}
### tags
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| name | text | YES | - |
\end{center}
###  problem\\\_allows\\\_language
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| problem\\\_id | bigint | YES | Allows (~problems) |
| language\\\_name | text | YES | Allows (~languages) |
\end{center}
### problem\\\_labeled\\\_tag
\begin{center}

| 字段名 | 类型 | 主属性 | 外键 |
|:-----:|:---:|:-----:|:----:|
| problem\\\_id | bigint | YES | Labeled (~problems) |
| tag\\\_name | text | YES | Labeled (~tags) |

\end{center}


